# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out

# env（APIキー・DB接続など。Git に上げない）
.env
.env.local
.env.development
.env.development.local
.env.production
.env.production.local
.env.test
.env.test.local
.env.*.local
.env copy*
.env.copy*
*.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem

# typescript
next-env.d.ts
